.cardSmall {
    // border: 1px solid black;
    // display: inline-block;
    flex: 1;
    // height: 10rem;
    background-image: linear-gradient(to bottom right, rgba(255,255,255,.2), rgba(255,255,255,.5));
    // border-radius: 5px;

    text-align: center;

    

}

.img {
    width: 2rem
}